*{
    margin: 1px;
    padding: 0px;
    font-size:20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

#n{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: inline-block;

}
#arreglo{
    text-align: center;
    display: inline-block;
}
